.header__lang-link {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 28px;
  text-decoration: none;
  color: #fff;
  text-align: right;
  text-decoration-line: none;
  margin-left: 13px;
}

@media (max-width: 767px) {
  .header__lang-link {
    width: 22px;
    height: 20px;
  }
}
