.cover__title {
  margin: 0 auto;
  padding: 245px 0 32px;
  max-width: 560px;
  color: #fff;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  z-index: 1;
}

@media (max-width: 1279px) {
  .cover__title {
    padding-top: 195px;
  }
}

@media (max-width: 1023px) {
  .cover__title {
    padding-top: 115px;
  }
}

@media (max-width: 767px) {
  .cover__title {
    padding: 33px 0 15px;
    width: 90vw;
    font-size: 32px;
    line-height: 35px;
    white-space: pre-line;
  }
}
